/* Fonts */
.bebas-neue-font {
  font-family: "Bebas Neue", sans-serif;
}

/* ==============
shared style 
=================*/
*{
  margin: 0;
  padding: 0;
}

.navbar,
.hero-container,
.card-container,
.footer-container
{
  max-width: 1200px;
  margin: 0 auto;
}

.tex-blue{
  color: #363958;
}

.text-orrange{
  color: #FF8367;
}
.section-heading{
  color: #363958;
  font-size: 3rem;
  font-weight: 500;
  line-height: 50px;
}

.description-text{
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: #3C3C3C;
  margin-top: 30px;
  margin-bottom: 30px;
}

.btn{
  color: white;
  border: none;
  border-radius: 6px;
  background-color: #F46060; 
  font-size: 16px;
  line-height: 24px;
  font-weight: 200;
  padding: 5px 15px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.btn:hover{
  background-color: #363958;
}

/*==============
 main style 
================*/
nav{
  background: #ff83673e;
}
.navbar{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.brand-name h2{
  color: #363958;
}

.nav-links{
  padding-top: 40px;
  padding-bottom: 40px;
  display: flex;
  gap: 40px;
  
}

.nav-links a{
  text-decoration: none;
  color: #363958;
}

/* ============== */
/* hero style */
/* ============== */
header{
  background: white;
}
.hero-container{
  margin-bottom: 50px;
}

.hero-content-1,
.hero-content-2{
  display: flex;
  justify-content: space-between;
}

.hero-content-text{
  max-width: 500px;
  height: 100%;
  margin-top: 100px;
}

.hero-content-2 .hero-content-text{
  margin-top: 180px;
}

.hero-content-1-img img,
.hero-content-2-img img{
  width: 400px;
}

/* ================= */
/* Card section styles */
/* ================= */
#card-section{
  background: rgba(146, 146, 146, 0.089);
}
.card-container{
  padding-top: 124px;
  padding-bottom: 187px;
}
.card-container h2{
  text-align: center;
  margin-bottom: 80px;
}

.all-cards{
  display: flex;
  justify-content: space-between;
  gap: 24px;
}

.card-content{
  max-width: 370px;
  box-shadow: 2px 0px 10px 0px #36395857;
  border-radius: 10px;
  padding: 16px;
  background: white;
}

.card-img img{
  max-width: 100%;
}

.card-title{
  font-size: 24px;
  line-height: normal;
}


/* ============= */
/* footer styles */
/* ============= */
footer{
  background: white;
}

.footer-content{
  max-width: 900px;
  margin: 0 auto;
  padding-top: 110px;
}

.footer-banner{
  background-image: url("shapes/Group_33094_1.png") ;
  background-size: cover;
  background-position: center;
}

.footer-banner-text{
  display: flex;
  justify-content: space-between;
  padding: 80px;
  align-items: center;
}

.footer-banner-text h1{
  color: white;
}



.contact-info{
  align-items: center;
  text-align: center;
}

.contact-info h5{
 font-size: 24px;
 color: #696871;
}

.contact-info h3{
  font-size: 36px;
}

.social-links img{
  max-width: 36px;
}

.contact-info{
  padding-top: 80px;
  padding-bottom: 80px;
}

.social-links{
  display: flex;
  justify-content: center;
  gap: 20px;
}